.index {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: normal;
  }

  .title {
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
    }
  }

  .actions {
    margin-top: 8px;
  }
}

