.index {
  padding: 0 16px;
  border-radius: 12px;
  min-width: 200px;
  max-width: 60vw;
  max-height: 60vh;
  background: var(--popup-background);
  border: 1px solid var(--gray-1);
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;

  .main {
    flex: 1;
    overflow-y: auto;
    .tip {
      background: rgba($color: #000000, $alpha: 0.03);
    }
  }

  .title {
    font-size: 18px;
  }

  .version {
    color: var(--color-primary);
    font-weight: bold;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

